:root {

    /* COLORS */
    --primary: #19B7C9;
    --secondary: #E99A6D;

    --background: #0D1B2A;
    --surface: #163047;

    --text: #F4F7FA;
    --text-muted: #AABBC6;

    --hover: #34D6E8;

    /* TRANSITIONS */
    --transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* HERO SECTION */

.hero {
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10%;

    position: relative;

    overflow: hidden;
}

/* LEFT SIDE */

.hero-content {
    max-width: 650px;

    z-index: 2;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;

    line-height: 1.1;

    margin-bottom: 25px;
}

.hero-content p {
    font-size: 1.1rem;
    color: var(--text-muted);

    line-height: 1.8;

    margin-bottom: 40px;
}

/* BUTTONS */

.hero-buttons {
    display: flex;
}

.primary-button,
.secondary-button {
    padding: 15px 28px;

    border-radius: 12px;

    font-weight: 600;

    transition: var(--transition);
}

.primary-button {
    background-color: var(--primary);
    color: #07131D;
}

.primary-button:hover {
    transform: translateY(-3px);

    background-color: var(--hover);
}

/* RIGHT SIDE */

.hero-image {
    width: 500px;

    opacity: 0.9;

    animation: float 5s ease-in-out infinite;
}

.hero-image img {
    width: 100%;
}

/* ANIMATION */

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* PROJECT SECTION */

.project-section {
    min-height: 90vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 80px;

    padding: 120px 10%;
}

.project-image {
    flex: 1;

    display: flex;
    justify-content: center;
}

.project-image img {
    width: 400px;

    opacity: 0.85;
}

.project-content {
    flex: 1;
}

.section-subtitle {
    color: var(--primary);

    text-transform: uppercase;

    font-size: 0.9rem;
    font-weight: 600;

    letter-spacing: 2px;
}

.project-content h2 {
    font-size: 3rem;

    margin: 20px 0;
}

.project-content p {
    color: var(--text-muted);

    line-height: 1.9;

    margin-bottom: 25px;
}